<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/bootstrap/css/pricing.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
		<script src="/bootstrap/js/bootstrap.js"></script>
		
        <title>Tutor Source</title>
	</head>
    
    <body style="background-color:#286090" ng-controller="userController">
		<div>
			<div ng-include="'tsnavbar.htm'"></div>
		</div>
        <div class="container" style="margin-top:100px">
			
			<h3>Tutor Page</h3>
			<form class="form-horizontal">
				
				<table class="table borderless">
					<thead>
						<tr>
							<th width="20%"></th>
							<th></th>
							<th width="15%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in users">
						    <td><img ng-src='image/{{ user.img }}.jpg'></td>
							<td><h3>{{ user.fName }}</h3>
								<br>    
							    {{ user.lName }}
							</td>
							<td style="text-align:center">
								<!-- Button trigger modal -->
								<button class="btn btn-info" ng-click="editUser(user.$id)" data-toggle="modal" data-target="#myModal">
									<span class="glyphicon glyphicon-pencil"></span>Add Auction
								</button>
								<h4 ng-if="user.auction != null">Your Auction Price ${{ user.auction }}</h4>
								<h4 ng-if="user.auction == null">You have not auction yet!</h4>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="myModalLabel">Auction</h4>
							</div>
							<div class="modal-body">
							<!--
								<input type="text" id="img" ng-model="newuser.img" ng-disabled="!edit" placeholder="img"><br>
								<input type="text" id="firstName" ng-model="newuser.fName" ng-disabled="!edit" placeholder="First Name"><br>
								<input type="text" id="lastName" ng-model="newuser.lName" ng-disabled="!edit" placeholder="Last Name"><br>
							-->
								Auction: <input type="text" id="auction" ng-model="newuser.auction" ng-disabled="!edit" placeholder="auction">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button id="save" class="btn btn-success"  ng-click="save()" data-dismiss="modal">
									<span class="glyphicon glyphicon-save"></span>Save Auction
								</button>
							</div>
						</div>
					</div>
				</div>
				<!--
				<input type="text" id="img" ng-model="newuser.img" ng-disabled="!edit" placeholder="img">
				<input type="text" id="firstName" ng-model="newuser.fName" ng-disabled="!edit" placeholder="First Name">
				<input type="text" id="lastName" ng-model="newuser.lName" ng-disabled="!edit" placeholder="Last Name">
				<input type="text" id="auction" ng-model="newuser.auction" ng-disabled="!edit" placeholder="auction">
				<button id="add" class="btn btn-success" ng-click="editUser('new')">
					<span class="glyphicon glyphicon-user"></span>Add Auction
				</button>
				<button id="save" class="btn btn-success"  ng-click="save()">
					<span class="glyphicon glyphicon-save"></span>Save Auction
				</button>
				-->
			</form>
		</div>
		
		
		<script>
			var myApp = angular.module("myApp", ["firebase"]);
			myApp.controller('userController', ['$scope', '$firebase',
			
			function($scope, $firebase) {
				$scope.newuser = {};
				$scope.img = '';
				$scope.auction = '';
				$scope.fName = '';
				$scope.lName = '';
				$scope.passw1 = '';
				$scope.passw2 = '';
				
				//We can replace this with a Firebase url later on. 
				var ref = new Firebase("https://chestercheong.firebaseio.com/");
				$scope.users = $firebase(ref.child("tutor")).$asArray(); 
				/*
					$scope.users = [
					{id:1, fName:'Hege'  , lName:"Pege" },
					{id:2, fName:'Kim'   , lName:"Pim" },
					{id:3, fName:'Jack'  , lName:"Jones" },
					{id:4, fName:'John'  , lName:"Doe" },
					{id:5, fName:'Peter' , lName:"Pan" }
					];
				*/
				
				$scope.edit = true;
				$scope.error = false;
				$scope.incomplete = false;  
				
				
				$scope.editUser = function(id) {
					$scope.currentId = id;
					if (id == 'new') {
						$scope.edit = true;
						$scope.incomplete = true;
						$scope.newuser.img = '';
						$scope.newuser.auction = '';
						$scope.newuser.fName = '';
						$scope.newuser.lName = '';
						console.log("new user.");
						} else {
						$scope.edit = true;
						$scope.newuser = $firebase(ref.child("tutor").child(id)).$asObject();
						console.log("existing user.");
					}
				};
				
				
				$scope.save = function(){
					//Add new if no index is passed in.
					
					if($scope.currentId=='new'){
						//Using the array length as the next index while prototyping. 
						$scope.users.$add($scope.newuser);
					}
					else{
						$scope.newuser.$save();
					}
				};
				
				$scope.deleteUser = function(index){
					//$scope.users.$remove(index);
					console.log("removing "+ index);
				}
				
			}]);
			
		</script>
		<!--Here is a way to take a quick peek at your data. 
			Users: {{users}}<br>
			newuser: {{newuser}}
		-->
		
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-59568855-1', 'auto');
			ga('send', 'pageview');
		</script>
		<script>
			$(document).ready(function(){
				
			});
		</script>
	</body>
</html>	